body{
    background-image: url(https://klike.net/uploads/posts/2019-11/1574605225_22.jpg);
    background-attachment: fixed;
    background-color: white;
    margin:0;
    }
    nav a{
      font-weight: bold;
      font-size: 150%;
       margin: 23px;
    }
    a{
    
      text-decoration: none;
      color: #000000;
    }
    a:hover{
      color: #18c02e;
    }
    header{
    background: radial-gradient(at top, #a0a5a5, #49649e);
    height:150px;

    }
    
    .banner{
      max-width: 960px;
      margin: 0 auto;
      padding: 30px;
    }
    
    nav{text-align:center;}

    .containerr{   
  
      max-width: 100%;
      margin: 0 auto;
      display: flex;
    flex-direction: column;
    flex: 1 1 1 auto;
    }
    
    #logo{
      float:left;
        width:100px;
         height:100px;
    }
    nav{
    
    background:linear-gradient(45deg, #eecfba, #c5dde8)
   
    }
    .notwork{
     padding-right: 100px;
    }
    
    .spisok{
      order: 1;
      padding-bottom: 10px;
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    #kol1{
        background-color:brown;
    }
    .nechet
    {
      background-color:rgb(95, 112, 95);
    }
    .chet{
      background-color:rgb(78, 35, 35);
    
    }
    .tabl{
      order: 2;
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    table{
       background-color:rgb(77, 75, 94);
        margin: 0 auto;
         margin-top:20px;
          padding:10px;
    }
    .forma{
      order: 3;
      padding-bottom: 10px;
    background:linear-gradient(45deg, #eecfba, #c5dde8)
    }
    footer{
      width:100%;
      height: 50px;
      background:linear-gradient(45deg, #5ea4b9, #037a56)
    }
    @media screen and (min-width: 992px) {
.containerr{
  max-width: 80%;  
}
nav{
  text-align:left;
  flex-direction: column;
}

.tabl{
  order: 3;

}
.forma{
  order: 2;

}
    
}